<a routerLink="/user-create" class="add-user__button">Add new user</a>

<h2 class="user-list__title">User list</h2>

<div class="user-list">
	<section class="user-card" *ngFor="let user of users">
		<p class="user-card__name--wrap">
			<span class="user-card__name-title">Name: </span>
			<span class="user-card__name">{{ user.firstName + ' ' + user.lastName }}</span>
		</p>
		<div class="user-card__beg--wrap">
			<p class="user-card__birthdate--wrap">
				<span class="user-card__birthdate-title">Birthdate: </span>
				<span class="user-card__birthdate">{{ user.birthDate }}</span>
			</p>
			<p class="user-card__email--wrap">
				<span class="user-card__email-title">Email: </span>
				<span class="user-card__email">{{ user.email }}</span>
			</p>
			<p class="user-card__gender--wrap">
				<span class="user-card__gender-title">Gender: </span>
				<span class="user-card__gender">{{ user.gender }}</span>
			</p>
		</div>
		<div class="user-card__buttons--wrap">
			<a [routerLink]="['/user-details', user.id]" class="user-card__button view" type="button">View</a>
			<a [routerLink]="['/user-edit', user.id]" class="user-card__button edit" type="button">Edit</a>
			<button class="user-card__button delete" type="button" (click)="deleteUser(user.id)">Delete</button>
		</div>
	</section>
</div>
