.add-user__button {
    align-self: flex-start;
    text-decoration: none;
    padding: 7px 14px;
    font-size: 1rem;
    font-weight: 600;
    color: #090;
    border: 1px solid #090;
    border-radius: 20px;
}

.user-list__title {
    margin-top: 20px;
}

.user-card {
    margin: 7px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
    word-break: break-word;

    .user-card__name--wrap {
        .user-card__name-title {
            font-weight: 600;
        }
    }

    .user-card__beg--wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;

        .user-card__birthdate--wrap {
            margin-right: 20px;
            display: flex;
            padding: 4px 0 0;

            .user-card__birthdate-title {
                font-weight: 600;
                padding-right: 5px;
            }

            .user-card__birthdate-title {
                display: block;
            }
        }

        .user-card__email--wrap {
            margin-right: 20px;
            display: flex;
            padding: 4px 0 0;

            .user-card__email-title {
                font-weight: 600;
                padding-right: 5px;
            }
        }

        .user-card__gender--wrap {
            display: flex;
            padding: 4px 0 0;


            .user-card__gender-title {
                font-weight: 600;
                padding-right: 5px;
            }
        }
    }

    .user-card__buttons--wrap {
        margin-top: 12px;
        display: flex;

        .user-card__button {
            text-decoration: none;
            border-radius: 15px;
            font-size: 1rem;
            padding: 5px 12px;

            &.view {
                border: 1px solid #0a0;
                color: #0a0;
                margin-right: 15px;
            }

            &.edit {
                border: 1px solid #00f;
                color: #00f;
                margin-right: 15px;
            }

            &.delete {
                background: none;
                border: 1px solid #f00;
                color: #f00;
                margin-left: auto;
            }
        }
    }
}
