<form class="user-form" [formGroup]="userForm" (ngSubmit)="formSubmit()">
	<div class="user-form__input-wrap">
		<label for="firstName">Firstname</label>
		<input class="user-form__input" id="firstName" [ngClass]="{details: viewDetails}" type="text" formControlName="firstName" placeholder="Firstname">
		<div *ngIf="firstName?.invalid && firstName?.touched" class="error">
      		<span *ngIf="firstName?.errors?.['required']">Field is required</span>
      		<span *ngIf="firstName?.errors?.['pattern']">Invalid firstname</span>
      		<span *ngIf="firstName?.errors?.['minlength']">Minlength 2</span>
      		<span *ngIf="firstName?.errors?.['maxlength']">Maxlength 40</span>
		</div>
	</div>
	<div class="user-form__input-wrap">
		<label for="lastName">Lastname</label>
		<input class="user-form__input" id="lastName" [ngClass]="{details: viewDetails}" type="text" formControlName="lastName" placeholder="Lastname">
		<div *ngIf="lastName?.invalid && lastName?.touched" class="error">
			<span *ngIf="lastName?.errors?.['required']">Field is required</span>
			<span *ngIf="lastName?.errors?.['pattern']">Invalid lastname</span>
			<span *ngIf="firstName?.errors?.['minlength']">Minlength 2</span>
			<span *ngIf="firstName?.errors?.['maxlength']">Maxlength 40</span>
		</div>
	</div>
	<div class="user-form__input-wrap">
		<label for="birthDate">Birthdate</label>
		<input class="user-form__input"
			   id="birthDate"
			   type="date"
			   [ngClass]="{details: viewDetails}"
			   formControlName="birthDate"
			   [max]="maxDate"
			   (click)="showPicker()"
			   onkeydown="return false"
			   #inputBirthDate
		>
		<div *ngIf="birthDate?.invalid && (birthDate?.touched || birthDate?.dirty)" class="error">
			<span *ngIf="birthDate?.errors?.['required']">Field is required</span>
		</div>
	</div>
	<div class="user-form__input-wrap">
		<label for="email">Email</label>
		<input class="user-form__input" id="email" [ngClass]="{details: viewDetails}" type="email" formControlName="email" placeholder="Email">
		<div *ngIf="email?.invalid && email?.touched" class="error">
			<span *ngIf="email?.errors?.['required']">Field is required</span>
			<span *ngIf="email?.errors?.['pattern']">Invalid email</span>
		</div>
	</div>
	<div class="user-form__gender-block">
		<div class="user-form__input-wrap">
			<input id="male" type="radio" class="user-form__input-gender" value="male" formControlName="gender">
			<label class="user-form__input-gender--label" for="male">Male</label>
		</div>
		<div class="user-form__input-wrap">
			<input id="female" type="radio" class="user-form__input-gender" value="female" formControlName="gender">
			<label class="user-form__input-gender--label" for="female">Female</label>
		</div>
	</div>
	<button class="user-form__save-button" type="submit" [disabled]="userForm.invalid" *ngIf="!viewDetails">Save</button>
</form>
