.user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-width: 280px;
    margin: 0 auto;

    .user-form__input-wrap {
        margin: 5px 0;

        .user-form__input {
            outline: none;
            padding: 10px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid #ddd;
            font-size: 1rem;

            &.details {
                border: none;
                border-bottom: 1px solid #ddd;
                border-radius: 0;
                background: none;
                color: #000;
                padding: 4px;
            }
        }

        .error {
            font-size: .85rem;
            color: #f00;
        }
    }

    .user-form__gender-block {
        .user-form__input-wrap {
            .user-form__input-gender--label {
                margin-left: 5px;
            }
        }

        .error {
            font-size: .85rem;
            color: #f00;
        }
    }

    .user-form__save-button {
        margin-top: 10px;
        padding: 8px;
        border-radius: 8px;
    }
}
